---
import Google from "./icons/Google"

const recomendations = [
    {
        title: 'Si quieres probar el Cuy las mejores opciones son:',
        places: [
            {
                name:'Casa de los cristales',
                description:'Si buscas algún lugar típico nariñense, aquí lo vas a encontrar.',
                price: '$$',
                map: 'bg-casaCristales',
                location: 'https://www.google.com/maps/place/Casa+de+los+Cristales/@0.8204004,-77.6222109,17z/data=!3m1!4b1!4m6!3m5!1s0x8e296be86e514987:0xae5b90ebf4189757!8m2!3d0.820395!4d-77.619636!16s%2Fg%2F11cs61y020?entry=ttu&g_ep=EgoyMDI0MDgyOC4wIKXMDSoASAFQAw%3D%3D'
            },
            {
                name:'La Casa verde',
                description:'Otra opción de comida local. Este es un asadero con comida tradicional.',
                price: '$$',
                map: 'bg-casaVerde',
                location: 'https://www.google.com/maps/place/Asadero+Casa+Verde/@0.8210665,-77.6240395,17z/data=!3m1!4b1!4m6!3m5!1s0x8e296b904f975f3b:0x1ea79c5b2bf74d43!8m2!3d0.8210611!4d-77.6214646!16s%2Fg%2F11f3p17n3p?entry=ttu&g_ep=EgoyMDI0MDgyOC4wIKXMDSoASAFQAw%3D%3D'
            },
        ]

    },
    {
        title: 'Otra comida típica que puedes probar es "EL HORNADO".',
        places: [
            {
                name:'Barrio las Cruces',
                description:'Recomendado para pasar el guayabo 🤪. La mayoría de restaurantes están en el barrio de Las Cruces.',
                price: '$',
                map: 'bg-LasCruces',
                location: 'https://www.google.com/maps/place/Las+Cruces,+Ipiales,+Nari%C3%B1o/@0.8408384,-77.5934145,17z/data=!3m1!4b1!4m6!3m5!1s0x8e296b21ee2de9c1:0x4bcc4b934530ca9d!8m2!3d0.8408641!4d-77.5887499!16s%2Fg%2F1hhw0fynl?entry=ttu&g_ep=EgoyMDI0MDkxMS4wIKXMDSoASAFQAw%3D%3D'
            },
        ]

    },
    {
        title: 'Tienes que probar los Lapingachos 👀.',
        places: [
            {
                name:'Picanteria la séptima',
                description:'Son unas tortillas de papa que no puedes dejar de probar antes de irte.',
                price: '$',
                map: 'bg-picanteria',
                location: 'https://www.google.com/maps/place/Picanteria+La+7ma/@0.8221772,-77.6354653,17z/data=!3m1!4b1!4m6!3m5!1s0x8e296b8203f89f7b:0x9df534de6860a0b5!8m2!3d0.8221718!4d-77.6328904!16s%2Fg%2F11rhzmcgbq?entry=ttu&g_ep=EgoyMDI0MDkxMS4wIKXMDSoASAFQAw%3D%3D'
            },
        ]

    },
    {
        title: 'Nuestro gran recomendación es que pruebes comida china.',
        places: [
            {
                name:'Casa China',
                description:'Si ya estás en Tulcán, puedes probar uno de los mejores.',
                price: '$$',
                map: 'bg-casaChina',
                location: 'https://www.google.com/maps/place/Casa+China/@0.8030748,-77.7325095,17z/data=!3m1!4b1!4m6!3m5!1s0x8e296f2f9315682d:0x18e06b7f5a399184!8m2!3d0.8030694!4d-77.7299346!16s%2Fg%2F11s1954mz3?entry=ttu&g_ep=EgoyMDI0MDgyOC4wIKXMDSoASAFQAw%3D%3D'
            },
            {
                name:'Fortunaz',
                description:'Si planeas salir de Ipiales puedes probar esta opción',
                price: '$$',
                map: 'bg-fortunaz',
                location: 'https://www.google.com/maps/place/Asadero+Casa+Verde/@0.8210665,-77.6240395,17z/data=!3m1!4b1!4m6!3m5!1s0x8e296b904f975f3b:0x1ea79c5b2bf74d43!8m2!3d0.8210611!4d-77.6214646!16s%2Fg%2F11f3p17n3p?entry=ttu&g_ep=EgoyMDI0MDgyOC4wIKXMDSoASAFQAw%3D%3D'
            },
        ]

    },
    {
        title: 'Si tienes ganas de postre... 🍦.',
        places: [
            {
                name:'Heladeria 20 de Julio',
                description:'Este es el helado favorito de la NOVIA en todo el mundo 🗺️.',
                price: '$',
                map: 'bg-heladeria',
                location: 'https://www.google.com/maps/place/Helader%C3%ADa+20+De+Julio/@0.8239076,-77.6360418,16z/data=!4m6!3m5!1s0x8e296beb89daaa29:0xc2f2a670b02cab80!8m2!3d0.8241541!4d-77.6345062!16s%2Fg%2F11dxcjmzv7?entry=ttu&g_ep=EgoyMDI0MDkxMS4wIKXMDSoASAFQAw%3D%3D'
            },
        ]

    },
    {
        title: 'Como recomendaciones adicionales te damos estas dos opciones:',
        places: [
            {
                name:'Las Brasas Parrila',
                description:'Un buena lugar si quieres una buena carne.',
                price: '$$',
                map: 'bg-lasBrasas',
                location: 'https://www.google.com/maps/place/Las+Brasas+Parrilla/@0.8297778,-77.6562667,17z/data=!3m1!4b1!4m6!3m5!1s0x8e2969ef133c116b:0xcc57542ca854bb20!8m2!3d0.8297724!4d-77.6536918!16s%2Fg%2F11pv0j1v55?entry=ttu&g_ep=EgoyMDI0MDgyOC4wIKXMDSoASAFQAw%3D%3D'
            },
            {
                name:'Mister Pollo',
                description:'En caso de que prefieras el pollo, este es tu lugar.',
                price: '$$',
                map: 'bg-mrPollo',
                location: 'https://www.google.com/maps/place/Mister+Pollo+Ipiales/@0.8302924,-77.6442922,17z/data=!3m1!4b1!4m6!3m5!1s0x8e296bc2ceb826ab:0x42ab63f491650192!8m2!3d0.830287!4d-77.6417173!16s%2Fg%2F11cks3dnnw?entry=ttu&g_ep=EgoyMDI0MDgyOC4wIKXMDSoASAFQAw%3D%3D'
            },
        ]

    },
]

---
<section class='w-[90%] flex flex-col mt-4 md:mt-16 mx-auto'>
    <h2 class="text-center text-gray-700/80 text-2xl md:text-3xl mb-8">¿ Que y donde comer ?</h2>

    <main class="grid grid-cols-1 gap-4 md:grid-cols-2">
        {recomendations.map((rec) => (
      <div
        class={`${
          rec.places.length === 2 ? 'md:row-span-2' : ''
        } bg-emerald-800 p-4 rounded-md shadow-lg`}
      >
        <h3 class="text-lg text-amber-50 font-bold mb-2">{rec.title}</h3>
        <div class="grid grid-cols-1 justify-around items-center gap-4">
          {rec.places.map((place) => (
            <div
              class={`${
                place.map
              } bg-cover bg-center rounded-md shadow-md p-2`}
            >
                <div class="backdrop-blur-sm flex justify-between p-2">
                    <article>
                    <h4 class="text-md font-semibold">{place.name}</h4>
                    <p>{place.description}</p>
                    
                        <a href={place.location} target="_blank" class="group  max-w-44 rounded-xl  flex px-3 py-1 justify-center items-center gap-x-3 ring-2 ring-transparent hover:scale-110 hover:shadow-md hover:ring-blue-700 transition-all duration-200 ">
                            
                            <Google />
                            <span class=" -translate-x-28 text-transparent group-hover:text-blue-700 group-hover:translate-x-0 transition-all duration-300">
                            Ver en Maps
                            </span>
                        </a>
                    </article>

                    <aside class="absolute -top-1 right-0 size-8 md:size-10 bg-amber-100 flex items-center justify-center rounded-full ring-2 ring-emerald-800">
                    <p class="font-bold text-lg text-emerald-800 ">
                        {place.price}
                    </p>
                    </aside>
                </div>
            </div>
          ))}
        </div>
      </div>
    ))}
    </main>
    </section>